<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkj.mapper.CoFMapper">
  <resultMap id="BaseResultMap" type="com.hkj.pojo.CoF">
    <id column="cof_id" jdbcType="INTEGER" property="cof_id" />
    <result column="cof_s_id" jdbcType="INTEGER" property="cof_s_id" />
    <result column="cof_text" jdbcType="VARCHAR" property="cof_text" />
    <result column="cof_photo" jdbcType="VARCHAR" property="cof_photo" />
    <result column="cof_video" jdbcType="VARCHAR" property="cof_video" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cof_id, cof_s_id, cof_text, cof_photo, cof_video
  </sql>
  <select id="selectByExample" parameterType="com.hkj.pojo.CoFExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from cof_tb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cof_tb
    where cof_id = #{cof_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cof_tb
    where cof_id = #{cof_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="cof_id" keyProperty="cof_id" parameterType="com.hkj.pojo.CoF" useGeneratedKeys="true">
    insert into cof_tb (cof_s_id, cof_text, cof_photo, 
      cof_video)
    values (#{cof_s_id,jdbcType=INTEGER}, #{cof_text,jdbcType=VARCHAR}, #{cof_photo,jdbcType=VARCHAR}, 
      #{cof_video,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="cof_id" keyProperty="cof_id" parameterType="com.hkj.pojo.CoF" useGeneratedKeys="true">
    insert into cof_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cof_s_id != null">
        cof_s_id,
      </if>
      <if test="cof_text != null">
        cof_text,
      </if>
      <if test="cof_photo != null">
        cof_photo,
      </if>
      <if test="cof_video != null">
        cof_video,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cof_s_id != null">
        #{cof_s_id,jdbcType=INTEGER},
      </if>
      <if test="cof_text != null">
        #{cof_text,jdbcType=VARCHAR},
      </if>
      <if test="cof_photo != null">
        #{cof_photo,jdbcType=VARCHAR},
      </if>
      <if test="cof_video != null">
        #{cof_video,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hkj.pojo.CoF">
    update cof_tb
    <set>
      <if test="cof_s_id != null">
        cof_s_id = #{cof_s_id,jdbcType=INTEGER},
      </if>
      <if test="cof_text != null">
        cof_text = #{cof_text,jdbcType=VARCHAR},
      </if>
      <if test="cof_photo != null">
        cof_photo = #{cof_photo,jdbcType=VARCHAR},
      </if>
      <if test="cof_video != null">
        cof_video = #{cof_video,jdbcType=VARCHAR},
      </if>
    </set>
    where cof_id = #{cof_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hkj.pojo.CoF">
    update cof_tb
    set cof_s_id = #{cof_s_id,jdbcType=INTEGER},
      cof_text = #{cof_text,jdbcType=VARCHAR},
      cof_photo = #{cof_photo,jdbcType=VARCHAR},
      cof_video = #{cof_video,jdbcType=VARCHAR}
    where cof_id = #{cof_id,jdbcType=INTEGER}
  </update>
</mapper>